*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  background-color: hsl(228,11%,9%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  border: 1px solid white;
  padding: 20px;
  font-family: 'Overpass', sans-serif;

  }

#card,
.thanksCard{
  background-color: hsl(215,20%,16%);
  height: 360px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
   
  
}

#card img,
.numbers button{
  background-color: hsl(218, 11%, 19%);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color:hsl(217, 12%, 63%)
}

#card img{
  width: 35px;
  height: 35px;
}

.numbers{
  display: flex;
  justify-content: space-between;
  
}

.text h1,
.thanksCard h2{
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
  margin-bottom: 10px;

}

.text p,
.thanksCard p{
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  line-height: 20px;
  text-align: left;
}

#submit-btn{
  background-color: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 30px;
  border: none;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.attribution {
  font-size: 1.2rem;
    text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.numbers button:hover{
  background:hsl(217, 12%, 63%);
  color:hsl(0, 0%, 100%);
  font-weight: 700;
}

#submit-btn:hover{
  background: hsl(0, 0%, 100%);
  color:hsl(25, 97%, 53%)
}

.btnSelected{
  background: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%)
}

.thanksCard img{
  width: 200px;
}

.thanksCard{
  align-items: center;
  
}

.thanksCard p{
  text-align: center;
}

.hide{
  display: none;
}